.section1 {
  position: relative;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "icons icons icons icons"
    "best_seller best_seller best_seller best_seller"
    "sideA sideA sideB sideB"
    "brands brands brands brands"
    "galery galery galery galery";
}
.section1 .icons,
.names {
  position: absolute;
  top: -50px;
  height: 100px;
  width: 100%;
  grid-area: icons;
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  align-content: stretch;
  align-items: stretch;
  text-align: center;
  background-color: #edeff0;
}
.section1 .icons div,
.names div {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--color_1);
  border-right: 2px solid var(--color_1);
}
.section1 .icons div:nth-child(4) {
  border-right: 0px solid var(--color_1);
}
.section1 .icons img,
.names img {
  width: 40px;
  height: auto;
}
.section1 .icons p,
.names p {
  font-size: 1.2rem;
  color: var(--color_1);
}
.section1 .best_seller {
  height: 400px;
  margin-top: 100px;
  grid-area: best_seller;
  display: grid;
  grid-template-areas:
    "heading heading heading heading"
    "item1 item2 item3 item4";
  align-content: center;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}
.section1 .best_seller p {
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  grid-area: heading;
  text-align: center;
  color: var(--color_1);
}
.section1 .best_seller div {
  position: relative;
  overflow: hidden;
  color: black;
}
.section1 .best_seller div::after {
  box-sizing: border-box;
  content: "Details";
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 350px; /*depends on the image height +50 and with below*/
  transform: translateY(-100%);
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #50c878;
  z-index: 0;
  opacity: 0;
  transition: top 200ms ease-out;
}
.section1 .best_seller div:hover::after {
  top: 300px;
  opacity: 1;
}
.section1 .best_seller div p {
  position: relative;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  background-color: #edeff0;
}
.section1 .best_seller img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}
.section1 .best_seller img:nth-child(1) {
  grid-area: item1;
}
.section1 .best_seller img:nth-child(2) {
  grid-area: item2;
}
.section1 .best_seller img:nth-child(3) {
  grid-area: item3;
}
.section1 .best_seller img:nth-child(4) {
  grid-area: item4;
}
.section1 .sideA,
.section1 .sideB {
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 50px;
  height: auto;
  grid-area: sideA;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-right: 1px solid var(--color_1);
}
.section1 .sideA img,
.section1 .sideB img {
  height: auto;
  display: block;
  margin: auto;
  width: 80%;
  object-fit: cover;
}
.section1 .sideB {
  grid-area: sideB;
  border-right: 0px solid var(--color_1);
  border-left: 1px solid var(--color_1);
}
.section1 .sideA h2,
.section1 .sideB h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.section1 .sideA p,
.section1 .sideB p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.section1 .brands {
  height: auto;
  grid-area: brands;
  position: relative;
}
.section1 .brands .names {
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  top: 0px;
  height: 200px;
}
.section1 .brands .names div {
  border-top: 2px solid var(--color_1);
}
.section1 .brands .names div:nth-child(1) {
  border-left: 2px solid var(--color_1);
}
.section1 .brands .heading {
  position: absolute;
  left: 50%;
  top: -100px;
  width: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  height: 100px;
  line-height: 100px;
  border: 2px solid var(--color_1);
  background-color: #edeff0;
}
.section1 .brands .heading h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--color_1);
}
.names img {
  padding-top: 50px;
  height: auto;
  width: 100px;
}
.names div:nth-child(2) img,
.names div:nth-child(4) img {
  width: 120px;
}
.section1 .galery {
  margin-top: 50px;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  grid-area: galery;
}
.section1 .galery h2 {
  width: auto;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--color_1);
}
.section1 .galery .images {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 30px 30px;
  object-fit: cover;
  justify-content: space-around;
  align-content: space-around;
}
.section1 .galery .images div {
  overflow: hidden;
}
.section1 .galery .images img {
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-out;
}
.section1 .galery .images img:hover {
  overflow: hidden;
  transform: scale(1.2);
}
.section1 .galery .images div:nth-child(4) {
  grid-column: 4/6;
  grid-row: 1/3;
}
.section1 .galery .images div:nth-child(6) {
  grid-column: 1/3;
  grid-row: 2/4;
}
.mail {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  /*background-color: rgba(80, 200, 120, 0.8);*/
  background-color: #205030;
  color: white;
  border-radius: 50%;
  display: grid;
  font-size: 1.5rem;
  /*border: 2px solid white;*/
}
.mail a {
  margin: auto;
  display: grid;
}
.mail i {
  margin: auto;
  color: white;
}
